<included>
    
    <appender name="SPRING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/sis-spring.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/sis-spring.log.%i</fileNamePattern>
                <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                     <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="SIS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${catalina.base}/logs/sis.log</File>
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover For various technical reasons, rollovers are not clock-driven but depend on the arrival of logging events-->
            <fileNamePattern>${catalina.base}/logs/old/%d{yyyy/MM/dd}/sis.log.%i</fileNamePattern>
                <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                     <!-- or whenever the file size reaches 5MB -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    

    
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd MMM yyyy HH:mm:ss} %p %t %mdc{userid} %c - %m%n</pattern>
        </encoder>
    </appender>


    <logger name="sis" level="DEBUG" additivity="false">
        <appender-ref ref="SIS"/>
    </logger>

    <logger name="org.acegisecurity" level="INFO" additivity="false">
        <appender-ref ref="SPRING"/>
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="SPRING"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
</included>